*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}	
body {
 display: inline-block;
 font-family: "Segoe UI", sans-serif;
 background-image:url(../img/PaisajeFondo.jpg);
 margin: 0;
 padding: 2rem;
 font-size: 1.2rem;
 
}



.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}


h1{
    
    font-family: "Mogra", system-ui;
    text-align: center;
    margin-bottom: 2rem;
    color: #fbff23;
    background-color: #fa1313;
    padding: 1rem;
    border-radius: 36px;
    width: 25%;
    display: block;           /* Asegura que sea un bloque */
    margin-left: auto;        /* Centra horizontalmente */
    margin-right: auto; 
    text-shadow: 4px 4px 0 #002cf1;
}

#pokemons-container{
   
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 1.5rem;


}

.card{
   
    background: #ff0000cc;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 0 10px #000000aa;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffcc00; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05); 
}


.card h2 {
    
    margin: 0.5rem 0;
    color: #ffffff;
    font-size: 1.4rem;
    text-transform: capitalize;
    text-align: center;
}

.card p {
    margin: 0;
    font-size: 1.2rem;
    font-size: 1rem;
    color: #f1f1f1;
}

.card img {
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 5px #000000;
    border: 4px solid #333;
    padding: 10px;
}

#pagination {
   display: flex;
    align-items: stretch;
    gap: 3rem;
    align-content: space-around;
    justify-content: center;
}

button{
    background-color: rgb(255, 255, 0);
    color: #1e1e2f;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;
    border: red 2px solid;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    background-color: rgb(71, 71, 71);
}

.Voz{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.card .circle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
}

#pageNum{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    background: #ff0000;
    background: #ff1f1f;
    background: linear-gradient(180deg, rgba(255, 31, 31, 1) 49%, rgba(0, 0, 0, 1) 55%, rgba(255, 255, 255, 1) 58%);
    border-radius: 180px;
    width: 70px;
    height: 70px;
    font-weight: bold;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

hr{
    border: 0;
    height: 3px;
    background-color: #000000;
    margin: 0 0 1rem;
    border-radius: 3px;
}