*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}	
body {
 display: inline-block;
 font-family: "Segoe UI", sans-serif;
 background-image:url(../img/PaisajeFondo.jpg);
 margin: 0;
 padding: 2rem;
 font-size: 1.2rem;
 
}


h1{
    
    text-align: center;
    margin-bottom: 2rem;
    color: #fbff23;
    background-color: #8d1818;
    padding: 1rem;
    border-radius: 36px;
    width: 25%;
    display: block;           /* Asegura que sea un bloque */
    margin-left: auto;        /* Centra horizontalmente */
    margin-right: auto; 
}

#pokemons-container{
   
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 1.5rem;


}
/* estilos a la card/tarjeta de los personajes */
.card{
   
    background-color: #ad3030;
    border-radius: 13px;
    padding: 1rem;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2); 
    transition: tranform 0.3s ease;
    
}

.card:hover{
    transform: scale(1.05); 
}

.card h2 {
    margin-top: 0;
     color: #000000;
     font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.2rem;

}

.card img {
    background-color: rgba(105, 179, 105, 0.747);
    width: 100%;
    border-radius: 13px;
    margin-bottom: 1rem;
    box-shadow: 0 0 20px rgb(0, 0, 0); /*efecto de sombra brillante*/
    border: 20px solid rgba(255, 255, 255, 0.664);
    
}

#pagination {
    display:flex;
    justify-content: center;
    gap: 1rem;
}

button{
    background-color: rgb(247, 247, 59);
    color: #1e1e2f;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;
    border: red 3px solid;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.Voz{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #006efff6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.card .circle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
}